################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/DapRepo.DataAccess/obj
/DapRepo.DataAccess/bin/Debug
