################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/DapRepo.DataAccess/obj
/DapRepo.DataAccess/bin/Debug
/packages/Dapper.1.50.2
*.nupkg
*.user
